<!--The content below is only a placeholder and can be replaced.-->
<main>
  <header>
    <nav>
      <div>
        <h1>{{ title }}</h1>
      </div>
      <ul>
        <li><a href="">mono</a></li>
        <li><a href="">mono</a></li>
        <li><a href="">mono</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div>
      <form class="row">
        <div class="col-md-6">
          <label for="name">nombre de tu personaje</label>
          <input type="text" class="form-control" id="name "/>
        </div>
      </form>
    </div>
  </section>
  <footer>
    <div>este es el pie de pajina</div>
  </footer>
</main>
<app-starwars></app-starwars>
<router-outlet></router-outlet>
